@model RasorExamples.Models.Product

@{
    // Layout = "~/Views/_BasicLayout.cshtml";
    Layout = null;
    ViewBag.Title = "Index_Page";
}



<html>
<head>

</head>
<body>
    <div> 
      <b>  @Model.Name </b> <br/> @Model.Price
    </div>
</body>
</html>
